@import "_variables.scss";

.container {
  overflow: hidden;
  height: 100%;
  position: relative;
  .slider_area__slider {
    display: flex;
    transition: all ease-in-out 0.3s;
    height: 100%;
    .single_slider {
      //background-size: contain !important;
      background-position: center !important;
      background-repeat: no-repeat !important;

      .slider_text {
        h3 {
          color: rgb(255, 255, 255);
          font-size: 100px;
          text-transform: capitalize;
          letter-spacing: 2px;
          font-weight: 400;
          margin-bottom: 4px;
          @media #{$mobile_device} {
            font-size: 33px;
            letter-spacing: 3px;
          }
          @media #{$tablet_device} {
            font-size: 30px;
          }
          @media #{$mid_device} {
            font-size: 35px;
            letter-spacing: 3px;
          }
        }
        p {
          font-size: 24px;
          font-weight: 400;
          color: #ffffff;
          margin-bottom: 0;
          margin-top: 0;
          @media #{$mid_device} {
            font-size: 16px;
          }
          @media #{$mobile_device} {
            font-size: 16px;
          }
        }
      }
    }
  }
  .slider_arrow {
    position: absolute;

    align-items: center;
    background-color: #ffffff44;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
    cursor: pointer;
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    justify-content: center;
    transform: translateY(200%);
    z-index: 1;
  }
  .slider_arrow--prev {
    @extend .slider_arrow;
    top: 26rem;
    left: 7rem;
    @media #{$mobile_device} {
      top: 30%;
      left: 10%;
    }
  }
  .slider_arrow--next {
    @extend .slider_arrow;
    top: 26rem;
    right: 7rem;
    @media #{$mobile_device} {
      top: 30%;
      right: 10%;
    }
  }
}
