@import "_variables.scss";

.section-calendar {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  .form-container {
    display: grid;
    justify-content: center;

    .calendar-container {
      display: flex;
      justify-content: center;
    }

    .calendar-submit {
      display: flex;
      margin: 2rem 0;
      justify-content: center;
      .calendar-submit__btn {
        background: #009dff;
        padding: 12px 26px;
        font-size: 1rem;
        font-weight: bold;
        border: 1px solid transparent;
        border-radius: 5%;
        color: #fff;
        &:hover {
          background: #fff;
          color: #009dff;
          border: 1px solid #009dff;
        }
      }
    }
    .date-invalid {
      border: 1px solid red;
      border-radius: 1%;
      background-color: rgba(255, 0, 0, 0.144);
      color: red;
      text-align: center;
      padding: 0.5rem;
    }
    .people {
      display: flex;
      margin: 1rem;
      justify-content: center;

      label {
        font-size: 1.1rem;
        font-weight: bold;
        margin: 0.5rem 1rem;
      }

      input {
        width: 30%;
        border: 0.05px solid #ddd;
        padding-left: 0.9rem;
        color: #555555;
      }
    }
  }
}
