@import "_section_title.scss";
@import "_variables.scss";
.features_room {
  padding-top: 2rem;
  display: block;
  overflow: hidden;
  @media #{$mobile_device} {
    padding-top: 1rem;
  }
  @media #{$tablet_device} {
    padding-top: 0;
  }
  .rooms_here {
  }
}
